# Python / Virtual Environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env

# Testing
.pytest_cache/

# Data and Outputs (AI Module)
data/*.json
output/
saved_model/

# macOS / OS specific
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
.vscode/
*.swp
